section.contact
     .contact_title
          h2 Contact
          h3 お問い合わせ
     .contact_mail 
          a(href="mailto:yattungleung159@gmail.com") yattungleung159@gmail.com
     .contact_txt 
          p LEUNG YATTUNGのWebサイトにご訪問いただき、ありがとうございます。気軽にご連絡ください。
     .contact_anime
          img(src="img/fly.png", alt="fly")
          p TOP