meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="format-dtection" content="telephone=no")
meta(name="keyword" content="")
meta(name="descripion" content="常に新しいことに挑戦する。新しいことに直面旅に、それを乗り越えたら新しいスキルを身につけ、自分の限界も超える気がするから。例えば初めて自分のサイトを作るとき、本当にできるのか、どこまでできるのかと不安と感じました。でもサイトができた時、想像よりいい感じではないかと思って、自分の限界を超えた気がする。しかも達成感はこれ以上ないです。")
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@twitteraccount")
meta(property="og:site_name" content="サイト名")
meta(property="og:title" content="サイトタイトル")
meta(property="og:description" content="サイト説明文")
//- meta(property="og:url" content="file:///Users/yattungleung/Desktop/portfolio/web/index.html")
meta(property="og:image" content="https://www.hogehoge.com./hoge.jpg")
meta(property="og:image:type" content="image/jpeg")
meta(property="og:image:width" content="600")
meta(property="og:image:height" content="400")
meta(property="og:type" content="LEUNG YATTUNG | リョウイットン")
link(rel="icon" href="img/icon.png")
link(rel="apple-touch-icon" href="http://www.hoge.hoge/logo.png")

//- google font
.
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=David+Libre&display=swap" rel="stylesheet">

//- fontawesome
link(href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet") 
	
//- スマホ  
.   
     <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
 