header 
     h1.logo: a(href="index.html") 
          img(src="img/logo.png", alt="logo")
     //- .menu
     //-      <i class="fas fa-bars"></i> 
     //- nav
     //-      .menu_inner 
     //-           .menu_tilte 
     //-                ul 
     //-                     li About
     //-                     li Works
     //-                     li Contact 
     //-           .menu_ssm 
     //-                ul 
     //-                     li: a(href="https://www.instagram.com/"): img(src="img/ig.png", alt="ig")
     //-                     li: a(href=""): img(src="img/twitter.png", alt="twitter")
     //-                     li: a(href=""): img(src="img/github.png", alt="github")
     //-           .menu_language 
     //-                ul 
     //-                     li: img(src="img/world.png", alt="world")
     //-                     li#ja.language_border 日本語
     //-                     li#tw.language_border 中文
     //-                     li#en  ENGLISH